/**
 * css 3d animation, how? (SO)
 * http://stackoverflow.com/q/9812196/1397351
 * http://dabblet.com/gist/4576285
 * (c) Ana Tudor
 */

body {
    -webkit-perspective: -webkit-calc(50em + 15px);
    -moz-perspective: -moz-calc(50em + 15px);
    -o-perspective: calc(50em + 15px);
    perspective: calc(50em + 15px);
}

.cube {
    position: relative;
    margin: 8em auto 0;
    padding: 0;
    width: 16em;
    height: 16em;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: ani 8s infinite linear;
    -moz-animation: ani 8s infinite linear;
    -o-animation: ani 8s infinite linear;
    animation: ani 8s infinite linear;
}

@-webkit-keyframes ani {
    to {
        -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}

@-moz-keyframes ani {
    to {
        -moz-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}

@-o-keyframes ani {
    to {
        -o-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}

@keyframes ani {
    to {
        -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        -moz-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        -o-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}

.face {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: solid 1px;
    margin: -8em;
    padding: 1.6em;
    width: 16em;
    height: 16em;
    opacity: .65;
    background: lightblue;
}

.face:nth-child(1) {
    -webkit-transform: translateZ(8em);
    -moz-transform: translateZ(8em);
    -o-transform: translateZ(8em);
    transform: translateZ(8em);
}

.face:nth-child(2) {
    -webkit-transform: rotateY(180deg) translateZ(8em);
    -moz-transform: rotateY(180deg) translateZ(8em);
    -o-transform: rotateY(180deg) translateZ(8em);
    transform: rotateY(180deg) translateZ(8em);
}

.face:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(8em);
    -moz-transform: rotateY(90deg) translateZ(8em);
    -o-transform: rotateY(90deg) translateZ(8em);
    transform: rotateY(90deg) translateZ(8em);
}

.face:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(8em);
    -moz-transform: rotateY(-90deg) translateZ(8em);
    -o-transform: rotateY(-90deg) translateZ(8em);
    transform: rotateY(-90deg) translateZ(8em);
}

.face:nth-child(5) {
    -webkit-transform: rotateX(90deg) translateZ(8em);
    -moz-transform: rotateX(90deg) translateZ(8em);
    -o-transform: rotateX(90deg) translateZ(8em);
    transform: rotateX(90deg) translateZ(8em);
}

.face:nth-child(6) {
    -webkit-transform: rotateX(-90deg) translateZ(8em);
    -moz-transform: rotateX(-90deg) translateZ(8em);
    -o-transform: rotateX(-90deg) translateZ(8em);
    transform: rotateX(-90deg) translateZ(8em);
}

@page :right {
    margin: 2in;
}

.test {
    background: -webkit-linear-gradient(#000, #111);
    background: -moz-linear-gradient(#000, #111);
    background: -o-linear-gradient(#000, #111);
    background: linear-gradient(#000, #111);
}
