.bg1 {
  background: -webkit-linear-gradient(#000000, #111111);
  background: -moz-linear-gradient(#000000, #111111);
  background: -o-linear-gradient(#000000, #111111);
  background: linear-gradient(#000000, #111111);
}
.bg2 {
  background: -webkit-linear-gradient(#111111, #222222);
  background: -moz-linear-gradient(#111111, #222222);
  background: -o-linear-gradient(#111111, #222222);
  background: linear-gradient(#111111, #222222);
}
